<!DOCTYPE html>
<html>
<head>
  
<style>
  
body  {
  background-image: url("assets/Travel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  width: 100vw;
  height: 100vh;

}
</style>
</head>
<body>
  <nav>
    <div class="logo"><h1 class="">PLAN MY TRIP</h1></div>
    <div class="menu">
    
        
        
        <a routerLink="/add-packages">ADD PACKAGES</a>
        
        <a routerLink="/admin-login">Log Out</a>


    </div>

</nav>
</body>
</html>

