<!DOCTYPE html>
<html>
<head>
  
<style>
  
body  {
  background-image: url("assets/Travel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  width: 100vw;
  height: 100vh;

}
</style>
</head>
<body>
    <div class="bus">
    <h1>Plan my Trip</h1>
    <h2>Bus booking page</h2>
    <form >
        <label for="from">FROM</label><br>
    <input type="text" placeholder="FROM" name="FROM" required><br>
    <label for="to">TO</label><br>
    <input type="text" placeholder="TO" name="TO" required><br>
    <label for="date">DATE</label><br>
    <input type="date" placeholder="DATE" name="DATE" 
    required><br>

   
    <input type="button" value="Submit">
</form>
</div>

</body>
</html>
