<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>PACKAGES BOOKING</h1>
            <h5>Feel Free to BOOK</h5><hr>
            <form [formGroup]="availableform" (ngSubmit)="available()">
              <div class="mb-3">
                <label  class="form-label">NAME</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                <label  class="form-label">Mobile No.</label>
                <input type="number" formControlName="mobileNo" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label  class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label  class="form-label">Number of Person</label>
                <input type="number" formControlName="number" class="form-control" id="exampleInputPassword1">
              </div>

              
              <button type="submit" class="btn btn-primary" >BOOK</button>
            </form>
        
          </div>
        </div>
      </div>
    </div>
  </div>
