<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1> ADMIN LOG IN</h1>
            <h5>Feel Free to Login</h5><hr>
            <form [formGroup]="loginform" (ngSubmit)="adminlogIn()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" formControlName="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" formControlName="Password" class="form-control" id="exampleInputPassword1">
              </div>
              
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a routerLink="/admin-signup">New User ? Click to Signup</a>
          </div>
        </div>
      </div>
    </div>
  </div>
