


<!DOCTYPE html>
<html>

<body>
    <style>
      
    body  {
      background-image: url("assets/Travel.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
      
      width: 100vw;
      height: 100vh;
    
    }
    </style>
    
    <h1>AVAILABLE HOTELS</h1>
    <div class="row gy-3" >
        <div class="col-sm-6 col-md-3">
      
    <div class="card" style="width: 18rem; height: 20rem;" >
        <img src="assets/hotel-rooms-8146308.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">TRIVENI HOTELS</h5>
          <p class="card-text">Starting at Rs.1700 per room</p>
          <a href="/book" class="btn btn-primary">Book Now</a>
        </div>
    </div>
        </div>
        <div class=" col-sm-6 col-md-3">
      
            <div class="card" style="width: 18rem; height: 20rem;" >
                <img src="assets/hotel-rooms-8146308.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ARINA HOTEL</h5>
                  <p class="card-text">Starting at Rs.2700 per room</p>
                  <a href="/book" class="btn btn-primary">Book Now</a>
                </div>
            </div>
                </div>
    
                <div class=" col-sm-6 col-md-3">
      
                    <div class="card" style="width: 18rem; height: 20rem; " >
                        <img src="assets/hotel-rooms-8146308.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SEA HOTEL</h5>
                          <p class="card-text">Starting at Rs.1000 per room</p>
                          <a href="/book" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                        </div>
                
                        <div class="col-sm-6 col-md-3">
      
                            <div class="card" style="width: 18rem; height: 20rem;" >
                                <img src="assets/hotel-rooms-8146308.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">SUNRISE HOTEL</h5>
                                  <p class="card-text">Starting at Rs.900 per room</p>
                                  <a href="/book" class="btn btn-primary">Book Now</a>
                                </div>
                            </div>
                                </div>
                                </div>
                            </body>  
                            </html>